<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jayxu.com.waitlistmanager" >

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".UI.WaitlistApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="com.google.android.apps.drive.APP_ID"
                android:value="id=615581317032" />

            <intent-filter>
                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="ng34LH9ZzpopSP77HUGsnGiVgstdaiJf1WupdHjs" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="6OVDJE5PlxYAaUjk2DVztvgPjUJaPqdz3dIpLtNA" />

        <activity
            android:name=".UI.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".UI.LoginActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jayxu.com.waitlistmanager.UI.LoginActivity" />
        </activity>
    </application>

</manifest>
